@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
background-color: rgb(83, 53, 15)!important;}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    /* background-color: var(--pink); */
    background-color: rgb(83, 53, 15);
    color: #fff;
    border: none;
    /* border-color: var(--pink); */
}

/* text color */
.text-primary{
    color: rgb(83, 53, 15)!important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.329);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.badge{
    background-color: rgb(83, 53, 15);
}

.nav-link{
    /* font-weight: 500; */
    color: rgb(83, 53, 15);
    font-weight: 500;
}
.nav-link:hover{
    color:#000!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header{
    background: url(../images/images/young-handsome-man-choosing-clothes-shop.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border: none!important;
}
.carousel-item .btn:hover{
    background-color: rgb(83, 53, 15);
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: rgb(83, 53, 15);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* collection */
.active-filter-btn{
    background-color: rgb(83, 53, 15)!important;
    color: #fff!important;
    border: none;
    /* border-color: var(--pink)!important; */
}
.filter-button-group .btn:hover{
    color: #fff!important;
    background-color: rgb(83, 53, 15)!important;
    border: none;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgb(83, 53, 15);
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
    background-color: rgb(83, 53, 15);
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* offers */
#offers{
    background: url(../images/images/charlesdeluvio-FK81rxilUXg-unsplash\ \(1\).jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}

/* about */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: rgb(83, 53, 15);
    color: #fff;
    border-color: none
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: none;
}

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    /* color: var(--pink)!important; */
    color: rgba(141, 96, 37, 0.658)!important;
}
.hidden{
 opacity: 0;
 filter: blur(5px);
 transform: translateX(-100%);
 transition: all 1s;
}
.hidden:nth-child(2){
    transition-delay:200ms ;
}
.hidden:nth-child(3){
    transition-delay:400ms ;
}
.hidden:nth-child(4){
    transition-delay:600ms ;
}
.hidden:nth-child(5){
    transition-delay:800ms ;
}
.hidden:nth-child(6){
    transition-delay:1000ms ;
}
.hidden:nth-child(7){
    transition-delay:1200ms ;
}
.hidden:nth-child(8){
    transition-delay:1400ms ;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}